body {
  background-color: #e5e5e5;
  font-family: Roboto, "Century Gothic", sans-serif;
}


.header {
  width:  100%;
  margin-bottom: 60px;
}

.carCard {
  width: 260px;
  height: auto;
  margin-left: 20px;
  padding: 15px;
  border: 2px solid;
  text-align: left;
  background-color: #FFF7F0;
}

.orange {
  width: 300px;
  background-color: lightgray;
}

.car_1 {
}

.car_2 {
}

li {
  list-style: none;
}
img {
  height: 120px;
  margin: 15px;
  float: right;
  /* margin-left: 15px; */
  /* margin-bottom: 15px */
}
